[submodule "vendor/curl"]
	path = vendor/curl
	url = https://github.com/curl/curl
[submodule "vendor/cJSON"]
	path = vendor/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "vendor/ncurses"]
	path = vendor/ncurses
	url = https://github.com/urbanspr1nter/ncurses-mirror
